/DH0/s/startup-sequence
/DH0/T/
/ToolChain/Grafx2/bin/stderr.txt
/ToolChain/Grafx2/bin/stdout.txt
/WinUAE/winuaebootlog.txt
/WinUAE/Configurations/_Temp.UAE
/WinUAE/Configurations/configuration.cache
/WinUAE/Configurations/configuration.backup
/WinUAE/*.dmp
